<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1>
                <a href="/"><img src="/raw_frontend/images/logo.png" alt="Logo" /></a>
            </h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="/">Home</a></li>
                <li>
                    <a class="drop" href="#">My courses</a>
                    <ul>
                        <li><a href="/raw_frontend/pages/gallery.html">Gallery</a></li>
                        <li><a href="/raw_frontend/pages/full-width.html">Full Width</a></li>
                        <li><a href="/raw_frontend/pages/sidebar-left.html">Sidebar Left</a></li>
                        <li><a href="/raw_frontend/pages/sidebar-right.html">Sidebar Right</a></li>
                        <li><a href="/raw_frontend/pages/basic-grid.html">Basic Grid</a></li>
                        <li><a href="/raw_frontend/pages/font-icons.html">Font Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="#">Categories</a>
                    <ul>
                        <li>
                            <a class="drop" href="#">IT</a>
                            <ul>
                                {{#each listCategories}}
                                <li><a href="/course/byCat/{{ID_CATE}}">{{CATENAME}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Teach on Youdemu</a></li>
                <li><a href="#">Cart</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>
