<!DOCTYPE html>
<html lang="">

<head>
    <title>Youdemu</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link href="/raw_frontend/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/raw_frontend/layout/styles/homepage.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{{_sections.css}}}
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ==================================================HEADER======================================== -->
    <!-- ################################################################################################ -->
    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li><i class="fas fa-phone rgtspace-5"></i> +84 123 456 7890</li>
                    <li><i class="far fa-envelope rgtspace-5"></i> support@youdemu.vn</li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
            <div class="fl_right">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li>
                        <a href="/"><i class="fas fa-home"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Sign Up"><i class="fas fa-edit"></i></a>
                    </li>
                    <li id="searchform">
                        <div class="search-box">
                            <form action="#" method="post">
                                <fieldset>
                                    <legend>Quick Search:</legend>
                                    <input type="text" />
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </fieldset>
                            </form>
                        </div>
                    </li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ==================================================NAVBAR======================================== -->
    <!-- ################################################################################################ -->
    {{>nav}}


    <!-- ################################################################################################ -->
    <!--  ==================================================MAIN======================================= -->
    <!-- ################################################################################################ -->
    {{{body}}}


    <div class="wrapper row4">
        <footer id="footer" class="hoc clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <ul class="nospace linklist">
                    <li><a href="#">Youdemu for Business</a></li>
                    <li><a href="#">Teach on Youdemu</a></li>
                    <li><a href="#">Get the app</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <ul class="nospace linklist">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Help and Support</a></li>
                    <li><a href="#">Affiliate</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <ul class="nospace linklist">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Featured courses</a></li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="heading">Contact us</h6>
                <ul class="faico clear">
                    <li>
                        <a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li>
                        <a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">
                Copyright &copy; 2018 - All Rights Reserved - <a href="#">Youdemu</a>
            </p>
            <p class="fl_right">Phát triển ứng dụng Web - Nhóm 5</p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="/raw_frontend/layout/scripts/jquery.min.js"></script>
    <script src="/raw_frontend/layout/scripts/jquery.backtotop.js"></script>
    <script src="/raw_frontend/layout/scripts/jquery.mobilemenu.js"></script>
    <script src="/raw_frontend/layout/scripts/slideshow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>

</html>
